<aside
  class="sidebar pos-absolute z-2"
  data-role="sidebar"
  data-toggle="#sidebar-toggle-4"
  id="sb4"
  data-shift=".shifted-content-2"
  data-static-shift=".shifted-content-2"
  data-static="md"
  style="background-color : #d58d78"
>
  <div class="sidebar-header" style="background-color: #d58d78">
    <div class="avatar">
      <img src="../../assets/WineGif.gif" />
    </div>
    <span class="title fg-white">Wine Night</span>
    <span class="subtitle fg-white"> Find The perfect Match</span>
  </div>
  <ul class="sidebar-menu">
    <li class="group-title">Main</li>
    <li>
      <a (click)="changeOption('twoIngredientPairing')"
        ><span class="mif-spoon-fork icon"> </span>Two Ingredient Pairing</a
      >
    </li>
    <li>
      <a (click)="changeOption('ingredientAndPrep')"
        ><span class="mif-restaurant icon"></span>Ingredient + Prep Pairing</a
      >
    </li>
    <li>
      <a (click)="changeOption('multiIngredientPairing')"
        ><span class="mif-shopping-basket icon"></span>Multi Ingredient
        Pairing</a
      >
    </li>
    <li class="divider"></li>
    <li class="group-title">Settings</li>
    <li>
      <a (click)="toLogout()"><span class="mif-user icon"></span>Logout</a>
    </li>
  </ul>
</aside>

<div class="shifted-content-2 h-100 p-ab">
  <div
    class="appbar pos-absolute z-1"
    data-role="appbar"
    style="background-color: black"
  >
    <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
      <span class="mif-menu fg-white"></span>
    </button>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col" style="height: 106px;">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active ">
              <img
                class="d-block w-100"
                src="../../assets/wine.jpeg"
                alt="First slide"
              />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Third slide" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="twoIngredientPairing" class="col-6">
        <app-two-ingredient-pairing
          (wineValues)="wineValues($event)"
        ></app-two-ingredient-pairing>
      </div>
      <div *ngIf="ingredientAndPrep" class="col-6">
        <app-ingredient-and-prep
          (wineValues)="wineValues($event)"
        ></app-ingredient-and-prep>
      </div>
      <div *ngIf="multiIngredientPairing" class="col-6">
        <app-multi-ingredient-pairing
          (wineValues)="wineValues($event)"
        ></app-multi-ingredient-pairing>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
